.App {
  padding       : 0 10vw;
  height        : 100vh;
  display       : flex;
  flex-direction: column;

  @media screen and (max-width: 960px) {
    padding: 0 20px;
  }

  &__main-content {
    margin         : auto 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  &__greeting {
    font-size : 80px;
    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: 60px;
    }
  }
}