.App {
  padding       : 0 10vw;
  height        : 100vh;
  display       : flex;
  flex-direction: column;

  &__main-content {
    margin         : auto 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  &__greeting {
    font-size: 80px;
  }
}