.Header {
  padding        : 10px 30px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  position       : relative;

  @media screen and (max-width: 600px) {
    padding:  10px 0;
  }


  &__menu {
    padding   : 0;
    list-style: none;
    display   : flex;

    @media screen and (max-width: 600px) {
      display: none;
    }  
  }

  &__item {
    display    : flex;
    align-items: center;
    column-gap : 10px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__user-name {
    margin     : 0;
    font-size  : 20px;
    font-weight: 500;
  }

  &__button {
    display         : block;
    padding         : 10px 20px;
    background-color: orange;
    font-size       : 14px;
    line-height     : 100%;
    text-decoration : none;
    color           : white;
    border          : none;
    border-radius   : 6px;
    cursor          : pointer;
    transition      : transform 0.3s ease;

    &:hover {
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(3px);
    }
  }

  .SignInForm {
    top  : calc(100% - 15px);
    right: 30px;
  }
}