.SignInForm {
  padding         : 20px 30px;
  display         : flex;
  flex-direction  : column;
  background-color: orange;
  border-radius   : 10px;
  position        : absolute;
  box-shadow      : 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  &__title {
    margin       : 0;
    margin-bottom: 20px;
    color        : white;
  }

  &__error {
    margin       : 0;
    margin-bottom: 15px;
    font-size    : 12px;
    color        : white;
  }

  &__input {
    margin-bottom: 10px;
    padding      : 5px 8px;
    border       : none;
    border-radius: 6px;
  }
}